* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
  background: #1a1814;
}
.search-bar {
  border: none;
  outline: none;
  width: 350px;
}

.category-btn {
  font-weight: bold;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transform: all 0.3s ease;
}

.category-btn:hover {
  /* background-color: #76323f !important; */
  background-color: #ffffff!important;

  color: black !important;
}
.category-btn:hover span {
  color:black !important;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

@media screen and (max-width: 600px) {
  .search-bar {
    width: 200px;
  }

  .react-player {
    height: 45vh !important;
  }
}

.scrollbar-hide {
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
